<app-ui-page [text]="'Innowator'" [isVisibleHome]="isVisible" [isVisibleDownload]="isVisible" downloadUrl="assets/role-pdf/Innowator.pdf">
    <div fxFlex class="text-container">
        <h3>Cel: Pełnienie roli głównego źródła innowacji i pomysłów dla zespołu.</h3>
        <h4 style="color:rgb(60, 179, 113)">
            Mocne strony Innowatora:
        </h4>
        <p>
            Innowatorzy charakteryzują się kreatywnością i pomysłowością, co pozwala im wygenerować innowacyjne i
            nietypowe pomysły oraz sugestie. To oni wnoszą najwięcej koncepcji do projektu, posiadając szeroką
            perspektywę i zdolność dostarczania oryginalnych przemyśleń w sytuacjach, gdy zespół napotyka trudności w
            poszukiwaniu nowych rozwiązań. Ich idee stanowią cenny wkład dla całego zespołu.

            Warto jednak zauważyć, że Innowatorzy nie zawsze są odpowiednio doceniani w środowiskach o ściśle
            zorganizowanej strukturze. Ich innowacyjny sposób myślenia może wywołać wątpliwości w ustalonych ścieżkach
            działania oraz metodach pracy. Mimo to, to właśnie dzięki ich działaniom są niezastąpionymi jednostkami. To
            Innowatorzy generują te pomysły, które mogą prowadzić zespół do osiągnięcia sukcesu. Ich brak może
            doprowadzić do stagnacji w działaniach zespołu.
        </p>
        <h4 style="color: rgb(255, 102, 52)">
            Potencjalne słabości Innowatora:
        </h4>
        <p>
            Kiedy Innowatorzy skupiają się całkowicie na swojej pracy, mogą nieświadomie oddzielać się od reszty
            zespołu, żyjąc w swoim własnym małym świecie. Ich oryginalne sposoby myślenia mogą prowadzić do
            rewolucyjnych pomysłów, które jednak w praktyce mogą być trudne do zrealizowania. Często koncentrują się na
            swoich zainteresowaniach, pomijając potrzeby zespołu.

            W związku z tym, Innowatorzy potrzebują wsparcia innych członków zespołu, aby ocenić i wdrożyć swoje
            pomysły. Niekiedy mogą być skłonni odrzucić krytykę lub negować ją, a nawet reagować emocjonalnie, jeśli ich
            idea nie zostanie zaakceptowana.

            Zbyt wielu Innowatorów w zespole może również generować problemy, ponieważ każdy z nich skupia się bardziej
            na swoich pomysłach niż na współpracy z innymi. To z kolei może prowadzić do konfliktów i utrudniać postęp
            pracy nad projektem. Dlatego ważne jest, aby umiejętnie zarządzać różnymi typami członków zespołu, tak aby
            ich unikalne umiejętności i perspektywy współgrały w celu osiągnięcia sukcesu projektu.
        </p>
        <h4 style="color: rgb(255, 0, 0)">
            Nieakceptowalne słabości
        </h4>
        <p>

            Innowatorzy z pewnością chcą brać pełną odpowiedzialność za swoje pomysły, ale czasami mogą stracić
            zainteresowanie, gdy projekt przechodzi do praktycznej fazy. Warto unikać dołączania Innowatorów do zespołu
            "na siłę", zwłaszcza gdy obecny zespół działa stabilnie i skutecznie.
        </p>

        <h4 style="color:rgb(106, 90, 205)">
            Kompatybilność z innymi Rolami Zespołowymi
        </h4>
        <p>
            Organizator jest najlepiej odpowiedni do zarządzania Innowatorami, ponieważ potrafi w pełni wykorzystać ich
            naturalne talenty i pomagać w utrzymaniu ich potencjału zgodnie z potrzebami zespołu. Współpraca z
            Analitykami, którzy pełnią rolę "głosu rozsądku", oraz Realizatorami, którzy potrafią przekształcić ich
            pomysły w praktyczne działania, przyczynia się do osiągania przez Innowatorów dobrych wyników jako liderów w
            zespole.
        </p>
        <h4 style="color: rgb(255, 165, 0);">
            Jak radzić sobie z Inspiratorem?
        </h4>
        <p style="color:rgb(60, 179, 113)">
            Tak…
            Zapewnij im swobodę tworzenia i akceptuj ich propozycje, jednocześnie zachęcając do wyjaśnienia tych
            pomysłów. </p>
        <p style="color: rgb(255, 0, 0)">
            Nie…
            Unikaj nadmiernego narzucania restrykcji i nie wyrażaj szybko krytyki, zanim pomysł nie zostanie w pełni
            przedstawiony.
        </p>
        <h4 style="color:rgb(60, 179, 113)">
            Optymalne środowisko pracy
        </h4>
        <p>
            Innowatorom potrzebna jest zarówno odpowiednia ilość czasu, jak i przestrzeni do tworzenia i refleksji.
            Często mogą mieć trudności z biurokracją oraz czuć się niekomfortowo w silnie uporządkowanych środowiskach
            pracy.
        </p>
    </div>
</app-ui-page>