<app-ui-page [text]="'Organizator'" [isVisibleHome]="isVisible" [isVisibleDownload]="isVisible" downloadUrl="assets/role-pdf/Organizator.pdf">
    <div fxFlex class="text-container">
        <h3>Cel: Współpraca zespołu, budowanie konsensusu i zarządzanie talentami to kluczowe elementy do osiągnięcia
            sukcesu.</h3>
        <h4 style="color:rgb(60, 179, 113)">
            Mocne strony Organizatora:
        </h4>
        <p>
            Organizatorzy, dojrzali, spokojni i pewni siebie, odgrywają kluczową rolę w skierowaniu grupy w stronę
            wspólnego celu. W zespole o różnorodnych umiejętnościach i postawach, Organizatorzy potrafią rozpoznać i
            wykorzystać talenty każdej osoby, aby osiągnąć jak najlepsze efekty. Sprawnie rozdzielają zadania i motywują
            każdego członka zespołu do włożenia najlepszego wysiłku w pracę.

            Doskonale radzą sobie z prowadzeniem spotkań, dbając o to, aby nie pomijać żadnych istotnych aspektów i
            osiągnąć porozumienie, które pozwoli na postępy zespołu.

            Dzięki swojemu taktu, bystrości i zdolnościom do kontrolowania sytuacji, Organizatorzy często muszą pełnić
            rolę mediatora, łagodząc nieporozumienia w sposób, który przynosi korzyści całemu zespołowi.
        </p>
        <h4 style="color: rgb(255, 102, 52)">
            Potencjalne słabości Organizatora:
        </h4>
        <p>
            Z powodu swoich znaczących umiejętności wpływania na innych, Organizatorzy czasami mogą tworzyć negatywną
            atmosferę, prowadząc "grę biurową". Ważne jest, aby odróżnić tworzenie optymalnych warunków dla zespołu od
            manipulowania innymi w celu uzyskania osobistych korzyści.

            Jako eksperci w delegowaniu zadań, Organizatorzy mogą mieć tendencję do przekazywania innym członkom zespołu
            większego udziału w swojej pracy. Jednak, jeśli nadmiernie przekazywanie obowiązków staje się widoczne dla
            pozostałych, może to wywołać urazę i frustrację, sprawiając, że inni są mniej skłonni do wykonywania poleceń
            Organizatora.

            Aby skutecznie pełnić swoją rolę, Organizatorzy powinni rozpoznawać i rozwijać talenty innych, zamiast
            konkurować z nimi. Dobre Organizatorzy zdają sobie sprawę, że sukces zespołu przekłada się również na ich
            własny osobisty sukces. Wspieranie i rozwijanie zdolności innych członków zespołu jest kluczowe dla
            osiągnięcia wspólnych celów.
        </p>
        <h4 style="color: rgb(255, 0, 0)">
            Nieakceptowalne słabości
        </h4>
        <p>
            Ważne jest, aby Organizator nie przypisywał sobie całej zasługi za sukcesy zespołu. Zamiast tego,
            Organizator powinien współpracować na równi z innymi członkami zespołu, nie przekazując im swoich
            obowiązków.
        </p>

        <h4 style="color:rgb(106, 90, 205)">
            Kompatybilność z innymi Rolami Zespołowymi
        </h4>
        <p>
            Organizatorzy odnoszą szczególny sukces, gdy ich kierownikiem jest Innowator lub Mobilizator, którzy
            pozwalają Organizatorowi skupić się na zarządzaniu pracą innych, podczas gdy sami skupiają się na określaniu
            celów zespołu i generowaniu nowych pomysłów. Jako menedżerowie, Organizatorzy potrafią efektywnie
            współpracować z każdą inną rolą, ale mogą napotkać trudności, gdy muszą rywalizować z Mobilizatorem o
            dominację.
        </p>
        <h4 style="color: rgb(255, 165, 0);">
            Jak radzić sobie z Organizatorem?
        </h4>
        <p style="color:rgb(60, 179, 113)">
            Tak…
            Umożliwiając im wydobywanie pełnego potencjału, zapewnij konsultacje, aby upewnić się, że ich pomysły i
            opinie są uwzględniane i wdrażane.
        </p>
        <p style="color: rgb(255, 0, 0)">
            Nie…
            Unikaj angażowania ich w ukryte intrygi lub prywatne spory. Zachowaj przejrzystość i zapewnij, że atmosfera
            w zespole jest wolna od niejasności i nieporozumień.
        </p>
        <h4 style="color:rgb(60, 179, 113)">
            Optymalne środowisko pracy
        </h4>
        <p>
            Organizatorzy najlepiej działają w atmosferze współpracy, gdzie otrzymują odpowiedzialność, autonomię i
            kontrolę nad innymi. Mogą być mniej skuteczni, gdy zadanie wymaga nadmiernego skupienia na szczegółach lub
            zbyt wielu analiz.
        </p>
    </div>
</app-ui-page>