<app-ui-page [text]="'Odkrywca'" [isVisibleHome]="isVisible" [isVisibleDownload]="isVisible" downloadUrl="assets/role-pdf/Odkrywca.pdf">
    <div fxFlex class="text-container">
        <h3>Cel: Przeszukanie zewnętrznych zasobów i rozwijanie kontaktów w imieniu zespołu.</h3>
        <h4 style="color:rgb(60, 179, 113)">
            Mocne strony Odkrywcy:
        </h4>
        <p>
            Odkrywcy posiadają naturalny talent do skutecznej komunikacji z innymi. Szybko nawiązują relacje, co
            umożliwia im poszerzanie sieci kontaktów i znajomości.

            Są otwarci i pełni ciekawości, dlatego często uczestniczą w konferencjach i wystawach, gdzie odkrywają nowe
            pomysły i możliwości. Wartościowym aspektem ich działalności jest wyjście poza firmę lub zespół, co pozwala
            zdobyć nową wiedzę i techniki, które mogą przekazać innym członkom zespołu. Dzięki temu zespół korzysta z
            nowych i aktualnych rozwiązań, utrzymując przewagę konkurencyjną. Bez ich udziału zespół może popaść w
            stagnację, skupić się zbyt mocno na wewnętrznych perspektywach i stracić kontakt z rynkiem.

            Odkrywcy wykazują się także zdolnościami negocjacyjnymi i przekonywującymi. Ich szybkie myślenie i
            nieograniczony entuzjazm pozwalają przekazywać korzyści związane z potencjalnymi pomysłami lub możliwościami
            w sposób przekonujący i przyjazny.
        </p>
        <h4 style="color: rgb(255, 102, 52)">
            Potencjalne słabości Odkrywcy:
        </h4>
        <p>
            Odkrywcy czerpią radość z emocji związanych z nowościami, ale ich entuzjazm może czasami być krótkotrwały.
            Właśnie dlatego, po zakończeniu jednego projektu, szybko przechodzą do "następnego wielkiego projektu",
            pozostawiając innych członków zespołu z niedokończonymi zadaniami. W ekstremalnych przypadkach taka postawa
            może wpłynąć na rezygnację zespołu z dalszej pracy nad nowymi rozwiązaniami.

            Mimo że mają dobre intencje, ich optymizm może czasami zakłócić pracę. Odkrywcy skupiają się na potencjale,
            często pomijając szczegóły. Brak weryfikacji ich pomysłów przez innych członków zespołu może prowadzić do
            marnowania czasu na nieprzemyślane koncepcje.

            Odkrywcy są z natury rozmowni, co może wpływać negatywnie na zespół. Czasami są zbyt gadatliwi, co ogranicza
            możliwość wyrażania opinii przez innych członków. Dodatkowo, ich entuzjazm może być wyzwaniem dla osób
            potrzebujących spokojnego środowiska pracy i skupienia na szczegółach.
        </p>
        <h4 style="color: rgb(255, 0, 0)">
            Nieakceptowalne słabości
        </h4>
        <p>

            Odkrywcy, pomimo chęci przejścia do kolejnych ekscytujących projektów, nie powinni zapominać o ważności
            obsługi klienta. Nie należy zaniedbywać klienta poprzez brak kontynuacji działań lub podejmowanie decyzji w
            imieniu innych członków zespołu bez ich zaangażowania.
        </p>

        <h4 style="color:rgb(106, 90, 205)">
            Kompatybilność z innymi Rolami Zespołowymi
        </h4>
        <p>
            Odkrywcy prawdopodobnie łatwo znajdują wspólny język z większością współpracowników, ale najbardziej
            efektywnym menedżerem dla nich może być Mobilizator. Taki lider doceni ich zdolność do szybkiego i
            elastycznego myślenia. Jako menadżerowie, Odkrywcy często potrzebują Perfekcjonistów, którzy śledzą i nie
            pomijają szczegółów w ich projektach.
        </p>
        <h4 style="color: rgb(255, 165, 0);">
            Jak radzić sobie z Odkrywcą?
        </h4>
        <p style="color:rgb(60, 179, 113)">
            Tak…
            Daj im możliwość zaangażowania się w rozmowy z innymi i wyrażania swojego entuzjazmu. Często może to
            prowadzić do odkrycia nowych perspektyw.
        </p>
        <p style="color: rgb(255, 0, 0)">
            Nie…
            Unikaj zadawania nadmiarowych pytań dotyczących szczegółów nowego projektu i nie oczekuj, że przeprowadzą
            wyczerpującą analizę lub badania.
        </p>
        <h4 style="color:rgb(60, 179, 113)">
            Optymalne środowisko pracy
        </h4>
        <p>
            Odkrywcy muszą współpracować z innymi, ponieważ rozwijają się w gąszczu informacji i prawdopodobnie nudzą
            się podczas samotnej pracy. Często są biegli w działaniu w dynamicznym środowisku, gdzie mogą wykorzystać
            pojawiające się okazje.
        </p>
    </div>
</app-ui-page>