<app-ui-page [text]="'Ekspert'" [isVisibleHome]="isVisible" [isVisibleDownload]="isVisible" downloadUrl="assets/role-pdf/Ekspert.pdf">
    <div fxFlex class="text-container">
        <h3>Cel: Uzyskanie dogłębnej wiedzy na określony temat.</h3>
        <h4 style="color:rgb(60, 179, 113)">
            Mocne strony Eksperta:
        </h4>
        <p>
            Eksperci, koncentrujący się na konkretnym zagadnieniu lub specjalizacji, cenią sobie zdobywanie wiedzy i
            posiadanie rzadkich umiejętności, które stanowią niezbędne elementy udanych projektów i zespołów.

            Uwielbiają proces ciągłego uczenia się, skupiając swoją uwagę na doskonaleniu wiedzy i zrozumienia. Dzięki
            temu pozostają aktualni w najnowszych osiągnięciach w swojej dziedzinie, a także podtrzymują wysokie
            standardy zawodowe.

            Eksperci często z entuzjazmem dzielą się swoją specjalistyczną wiedzą z innymi, szczególnie z osobami o
            podobnych zainteresowaniach. Chętnie uczestniczą w szkoleniach związanych z ich dziedziną nie tylko z
            obowiązku, ale z prawdziwej pasji do tematu. Dla wielu z nich, praca jest jednocześnie hobby, ponieważ
            czerpią radość z tego, co robią.
        </p>
        <h4 style="color: rgb(255, 102, 52)">
            Potencjalne słabości Eksperta:
        </h4>
        <p>
            Z powodu ich wąskiego zakresu specjalizacji, Eksperci mogą napotykać trudności z przyjęciem szerszej
            perspektywy. Inni członkowie zespołu mogą odczuwać, że skupiają się zbyt mocno na technicznych aspektach
            nowych pomysłów, pomijając kwestie ich ogólnej zasadności i użyteczności.

            Pracując w swoim określonym obszarze, Eksperci mogą czasem być odizolowani od pozostałych członków zespołu,
            co może skutkować zniekształconym pojęciem o funkcjach lub celach zespołu, skoncentrowanym jedynie na
            własnych zainteresowaniach i priorytetach. Efektywny Organizator może pomóc w maksymalnym wykorzystaniu
            wiedzy Eksperta, jednocześnie zachowując ją w ramach określonych celów zespołu.

            Z powodu swojej pasji do danej dziedziny, Eksperci czasami mogą mieć trudności z oceną, ile szczegółów lub
            wyjaśnień jest potrzebnych. Być może przekazują zbyt wiele informacji, kiedy tłumaczą problem zespołowi, co
            może obniżać zainteresowanie innych członków i potencjalnie prowadzić do niechcianych opóźnień na
            spotkaniach.
        </p>
        <h4 style="color: rgb(255, 0, 0)">
            Nieakceptowalne słabości
        </h4>
        <p>

            Eksperci, choć pracują w wąskiej dziedzinie, nie powinni ignorować ani bagatelizować innych czynników, które
            wykraczają poza ramy ich zainteresowań czy specjalizacji.
        </p>

        <h4 style="color:rgb(106, 90, 205)">
            Kompatybilność z innymi Rolami Zespołowymi
        </h4>
        <p>
            Eksperci będą dobrze współpracować z Organizatorem, który potrafi skutecznie zarządzać ich potencjałem i
            docenić ich istotny wkład w pracę zespołu. Również Realizatorzy oraz Inspiratorzy zyskają wartość z
            unikalnej wiedzy Eksperta, którą sprawnie wdrożą w projekcie. Jako menedżerowie, Eksperci będą
            najskuteczniejsi w zarządzaniu innymi Ekspertami, ponieważ ich wiedza i doświadczenie są najbardziej cenione
            przez osoby o podobnych zainteresowaniach.
        </p>
        <h4 style="color: rgb(255, 165, 0);">
            Jak radzić sobie z Ekspertami?
        </h4>
        <p style="color:rgb(60, 179, 113)">
            Tak…
            Wskazuj, że docenisz ich wkład jako cenne źródło informacji. Angażuj ich aktywnie w proces badawczy jako
            Ekspertów. </p>
        <p style="color: rgb(255, 0, 0)">
            Nie…
            Zadbaj o niezaniedbywanie ani niebagatelizowanie ich obszaru ekspertyzy. Unikaj nadmiernego odizolowania ich
            od zespołu.
        </p>
        <h4 style="color:rgb(60, 179, 113)">
            Optymalne środowisko pracy
        </h4>
        <p>
            Eksperci mogą odczuwać potrzebę spokojnego miejsca do pracy, które umożliwi im dogłębne skupienie na swoim
            obszarze i uniknięcie rozproszenia uwagi. Dzięki temu mogą efektywnie współpracować z innymi, dzieląc się
            swoimi zainteresowaniami i wiedzą.
        </p>
    </div>
</app-ui-page>