<app-ui-page [text]="'Analityk'" [isVisibleHome]="isVisible" [isVisibleDownload]="isVisible" downloadUrl="assets/role-pdf/Analityk.pdf">
    <div fxFlex class="text-container">
        <h3>Cel: Skupia się na analizie pomysłów i sugestii oraz dokładnej ocenie ich wykonalności.</h3>
        <h4 style="color:rgb(60, 179, 113)">
            Mocne strony Analityka:
        </h4>
        <p>
            Analitycy to poważni i rozważni specjaliści, doskonale nadający się do analizy problemów i oceny pomysłów
            oraz sugestii, aby określić ich wykonalność i zapewnić wsparcie w procesie wdrożenia. Jeśli uda im się
            nawiązać silne relacje z Innowatorem, wpłynie to pozytywnie na efektywność całego zespołu.

            Analitycy cechują się umiejętnością myślenia krytycznego i skłonnością do dokładnego rozważania zalet i wad
            danej sytuacji. W procesie podejmowania decyzji kierują się logiką, a nie entuzjazmem czy osobistymi
            emocjami, dzięki czemu utrzymują pewien dystans od zespołu podczas spotkań. To pozwala im na obserwację
            postępów, jednocześnie zachowując neutralność.

            Debaty są dla Analityków cenne, a podejmowanie dokładnych i istotnych decyzji sprawia im satysfakcję.
            Dlatego też powinni być konsultowani przy podejmowaniu decyzji w zespole. Im bardziej skomplikowany jest
            proces decyzyjny i im więcej zmiennych jest uwzględnianych, tym większa rola przypada Analitykom. Ich wiedza
            i umiejętności w analizie danych mogą przyczynić się do efektywnego działania całego zespołu w sektorze IT.
        </p>
        <h4 style="color: rgb(255, 102, 52)">
            Potencjalne słabości Analityka:
        </h4>
        <p>
            Ze względu na tendencję do nieokazywania entuzjazmu, Analitycy mogą być postrzegani przez współpracowników
            jako osoby oschłe i nudne. W rezultacie ich umiejętność inspiracji innych członków zespołu może być
            ograniczona. To wynika z ich bezstronności, co jednak może być postrzegane przez zespół jako słabość.

            Analitycy zazwyczaj podejmują decyzje z umiarem, co czasami może frustrować innych członków zespołu, którzy
            pragną szybszego tempa działania. W skrajnych przypadkach może to prowadzić do zakleszczenia się zespołu w
            "akademickiej debacie", gdzie porozumienie jest trudne do osiągnięcia.

            Ponadto, Analitycy mogą być mało taktowni i nadmiernie krytyczni w odrzucaniu błędnych pomysłów, co może
            powodować napięcia z Innowatorem i Odkrywcą, którzy te pomysły zaproponowali, a to z kolei może obniżyć
            morale całego zespołu. Ewentualne frustracje pozostałych członków zespołu mogą umknąć uwadze Analityków,
            którzy oczekują, że inni członkowie zespołu również będą pozbawieni emocji i podejmujący decyzje oparte na
            logice.
        </p>
        <h4 style="color: rgb(255, 0, 0)">
            Nieakceptowalne słabości
        </h4>
        <p>
            W przypadku Analityków ważne jest, aby nie automatycznie podchodzić sceptycznie do nowych pomysłów.
            Odrzucanie pomysłów przedstawianych przez innych członków zespołu powinno być oparte na logicznych
            uzasadnieniach, a nie na bezpodstawnych założeniach. Dodatkowo, Analitycy powinni unikać aroganckiego
            zachowania, które może wpłynąć negatywnie na atmosferę w zespole.
        </p>

        <h4 style="color:rgb(106, 90, 205)">
            Kompatybilność z innymi Rolami Zespołowymi
        </h4>
        <p>
            Zarządzanie Analitykami najlepiej powierzyć Organizatorowi, który zapewni, że zespół konsultuje się z nimi
            podczas procesu podejmowania decyzji. Analitycy mają zdolności, które sprawiają, że radzą sobie dobrze w
            większości ról, jednak mogą pojawić się konflikty z Mobilizatorami, którzy mogą odczuwać frustrację z powodu
            zbyt wolnego tempa zmian. Dodatkowo, konfrontacja między Analitykami może prowadzić do niekończącej się
            debaty, która nie przynosi rezultatów w postaci podjęcia konkretnej decyzji.
        </p>
        <h4 style="color: rgb(255, 165, 0);">
            Jak radzić sobie z Analitykiem?
        </h4>
        <p style="color:rgb(60, 179, 113)">
            Tak…
            Analityków należy poprosić o dokładną ocenę pomysłu, wyrażenie swoich obaw oraz zatrzymanie zespołu przed
            pochopnym podejmowaniem decyzji.
        </p>
        <p style="color: rgb(255, 0, 0)">
            Nie…
            Nie należy próbować oddziaływać na nich poprzez optymizm lub emocjonalne apele. Ważne jest unikanie
            wywierania presji na Analityków, aby szybko dokonali oceny.
        </p>
        <h4 style="color:rgb(60, 179, 113)">
            Optymalne środowisko pracy
        </h4>
        <p>
            Analityk doskonale radzi sobie w strategicznych sytuacjach, gdzie wynik zależy od niewielkiej liczby
            kluczowych decyzji.
        </p>
    </div>
</app-ui-page>