<app-ui-page [text]="'Perfekcjonista'" [isVisibleHome]="isVisible" [isVisibleDownload]="isVisible" downloadUrl="assets/role-pdf/Perfekcjonista.pdf">
    <div fxFlex class="text-container">
        <h3>Cel: Zadbaj o poprawność i szczegółowość, aby uniknąć przeoczenia ważnych szczegółów.</h3>
        <h4 style="color:rgb(60, 179, 113)">
            Mocne strony Perfekcjonisty:
        </h4>
        <p>
            Perfekcjoniści to osoby, które zawsze dbają o szczegóły i dążą do osiągnięcia najwyższych standardów. Są
            szczególnie wartościowi w obszarach pracy, które wymagają precyzyjnego monitorowania, skupienia i dużej
            dokładności, takich jak redagowanie lub weryfikacja danych.

            W zespole, Perfekcjoniści pełnią rolę "zapewnienia jakości". Starają się wyłapywać błędy, zaniedbania lub
            pomyłki, które mogłyby wpłynąć negatywnie na produkt lub końcowy wynik. Ich zaangażowanie jest szczególnie
            ważne, gdy praca wymaga współdziałania większej liczby osób lub całych zespołów.

            Motywowani wewnętrznym pragnieniem doskonałości, Perfekcjoniści potrzebują jedynie niewielkiego bodźca
            zewnętrznego, aby dążyć do perfekcji. Ze względu na swoje wysokie standardy, sami biorą na siebie
            odpowiedzialność za swoją pracę i rzadko ją delegują innym. Obawiają się, że nie zostanie jej poświęcona tak
            samo skrupulatna uwaga, jaką oni sami by na nią poświęcili.
        </p>
        <h4 style="color: rgb(255, 102, 52)">
            Potencjalne słabości Perfekcjonisty:
        </h4>
        <p>
            Osoby dążące do doskonałości mają zdolność do podkreślania wykonywanej pracy, jednak nie
            zawsze są mistrzami w efektywnym jej zakończeniu. Pomimo tego, że mogą być zapraszane na ostatni etap
            zadania ze względu na skrupulatne podejście, mogą napotykać trudności w dotrzymaniu terminów. Skupiają się
            na osiągnięciu najbardziej precyzyjnego ostatecznego projektu, często kosztem zrealizowania go na czas.

            Lęk, który motywuje Perfekcjonistów, czasem może działać na ich niekorzyść, prowadząc do nadmiernego wysiłku
            i potencjalnej porażki zespołowej. Ponieważ lęk jest wewnętrzny i trudno go wyrazić, zespół może nie zdawać
            sobie sprawy z tego problemu, dopóki nie zostaną przekroczone terminy. Również Perfekcjoniści, którzy
            wyrażają nadmierny niepokój, mogą obniżać morale zespołu.

            Dodatkowo, Perfekcjoniści mogą skupiać się zbytnio na drobnych szczegółach. Mimo że te cechy mogą być
            użyteczne podczas finalizacji projektu, mogą jednocześnie wprowadzać
            niepożądane rozproszenie, gdy zespół stara się określić ogólny plan lub kierunek. W rezultacie mogą
            lekceważyć innych członków zespołu, widząc ich jako ryzykantów lub niedbałych.
        </p>
        <h4 style="color: rgb(255, 0, 0)">
            Nieakceptowalne słabości
        </h4>
        <p>
            Osoby Perfekcjonistyczne powinno się podziwiać za ich wytrwałość w doskonaleniu każdego najmniejszego
            szczegółu, ale ta skłonność nie powinna przeradzać się w obsesyjne zachowania.
        </p>

        <h4 style="color:rgb(106, 90, 205)">
            Kompatybilność z innymi Rolami Zespołowymi
        </h4>
        <p>
            Osoby Perfekcjonistyczne będą skuteczne w zarządzaniu przez Odkrywców, Mobilizatorów lub Innowatorów,
            ponieważ każdy z tych profesjonalistów może potrzebować wsparcia w pracy ze szczegółami, które mogą im
            umknąć. Jako kierownik, Perfekcjonista prowadzi swój zespół w kierunku ciągłego doskonalenia standardów.
            Jednak może napotykać trudności, zwłaszcza z Odkrywcami, którzy bardziej cenią innowacyjność i entuzjazm
            związanym z nowymi pomysłami niż pracę nad doskonaleniem detali.
        </p>
        <h4 style="color: rgb(255, 165, 0);">
            Jak radzić sobie z Perfekcjonistą?
        </h4>
        <p style="color:rgb(60, 179, 113)">
            Tak…
            Przedstaw hierarchię zadań, aby pomóc w organizacji pracy w czasie. Zapewnij odpowiednią elastyczność,
            umożliwiając im dokładne i ostrożne wykonanie swoich zadań.
        </p>
        <p style="color: rgb(255, 0, 0)">
            Nie…
            Respektuj ich potrzeby i unikaj narzucania nadmiernego obciążenia czasowego lub nierealistycznych terminów.
            Nie bagatelizuj także ich wewnętrznej potrzeby doskonalenia rzeczy i procesów.
        </p>
        <h4 style="color:rgb(60, 179, 113)">
            Optymalne środowisko pracy
        </h4>
        <p>
            Osoby dążące do perfekcji osiągają najlepsze wyniki w środowisku, które sprzyja skupieniu, oraz w
            sytuacjach, gdzie mają wystarczająco dużo czasu na dokładne sprawdzenie wszystkiego.
        </p>
    </div>
</app-ui-page>