<app-ui-page [text]="'Mobilizator'" [isVisibleHome]="isVisible" [isVisibleDownload]="isVisible" downloadUrl="assets/role-pdf/Mobilizator.pdf">
    <div fxFlex class="text-container">
        <h3>Cel: Stawiać wyzwania i efektywnie kierować zespołem w kierunku osiągnięcia określonych celów.</h3>
        <h4 style="color:rgb(60, 179, 113)">
            Mocne strony Mobilizatora:
        </h4>
        <p>
            Mobilizatorzy to osoby pełne energii i ambicji, które emanują zapałem i silną motywacją do osiągnięć.
            Skupiają się głównie na szybkim załatwianiu spraw.

            Są niezłomni i z konkurencyjnym podejściem, cieszą się z wyzwań i zdeterminowani są, by pokonać wszelkie
            przeszkody na drodze do zwycięstwa. Wykazują pewność siebie i nawet jeśli mają wątpliwości, nie ujawniają
            ich publicznie.

            Mobilizatorzy chętnie przywodzą i motywują innych do działania. Bezkompromisowo podejmują działania i nie
            boją się podejmować trudnych decyzji, aby odnieść sukces. Doskonale sprawdzają się w sytuacjach wymagających
            szybkiego działania i są skutecznymi liderami zmian. Jak sama nazwa wskazuje, wpływają na zespół i potrafią
            prowadzić dyskusję lub inicjować działania grupy w kierunku osiągnięcia celów i zadań. Potrafią skutecznie
            radzić sobie z bezwładem i nadmiernym zadowoleniem w zespole oraz interweniować, gdy zespół oddala się od
            początkowych wytycznych.
        </p>
        <h4 style="color: rgb(255, 102, 52)">
            Potencjalne słabości Mobilizatora:
        </h4>
        <p>

            Mobilizatorzy, w swoim pragnieniu rozwiązywania spraw, mogą nie zawsze odpowiednio uwzględniać uczucia
            innych ludzi i wykazywać zbyt dużą pewność siebie. Często angażują się w spory i znajdują się w centrum
            konfliktów w zespole.

            Ponieważ intensywnie dążą do sukcesu zespołu, czasem wykazują silne emocjonalne reakcje lub frustrację,
            które wymagają zarządzania przez resztę zespołu. Zbyt duża liczba Mobilizatorów w zespole może również
            prowadzić do problemów, gdy wzajemnie blokują się nawzajem, co może kończyć się gorącymi sporami. Aby
            efektywnie współpracować w zespołach, Mobilizatorzy muszą wyraźnie określać swoje obszary odpowiedzialności
            i trzymać się swoich zadań. Ważne jest, aby wiedzieli, kiedy zaangażować się w konstruktywne debaty, a kiedy
            zachować zdrową równowagę w zarządzaniu konfliktami.
        </p>
        <h4 style="color: rgb(255, 0, 0)">
            Nieakceptowalne słabości
        </h4>
        <p>
            Bodźce Mobilizatora mają zdolność ożywić i zmotywować apatyczne zespoły, jednak mogą również czasami
            prowadzić do sporów. Kiedy pojawia się konflikt, Mobilizatorzy nie powinni zatrzymywać urazy w sobie.
            Konflikty powinny być zarządzane i rozwiązywane w sposób jasny i żartobliwy, a jeśli to konieczne, powinno
            dojść do udzielenia przeprosin. Ważne jest, aby utrzymać atmosferę pozytywną i sprzyjającą współpracy w
            zespole, nawet jeśli czasem pojawią się napięcia.
        </p>

        <h4 style="color:rgb(106, 90, 205)">
            Kompatybilność z innymi Rolami Zespołowymi
        </h4>
        <p>
            Mobilizatorami najlepiej zarządzać za pośrednictwem Organizatora, który potrafi kierować ich energią, lub
            Analityka, który pomaga im dokładnie przemyśleć działania przed ich podjęciem. Jako menedżerowie,
            Mobilizatorzy osiągają dobre wyniki, gdy otrzymują wsparcie od Realizatorów (doceniających ich skuteczność i
            koncentrację na zadaniach) lub Inspiratorów, którzy potrafią łagodzić wszelkie pojawiające się
            nieporozumienia. Współpraca w takim zespole odnosi sukces, gdy różnorodne role wzajemnie się uzupełniają.
        </p>
        <h4 style="color: rgb(255, 165, 0);">
            Jak radzić sobie z Mobilizatorem?
        </h4>
        <p style="color:rgb(60, 179, 113)">
            Tak…
            Wykorzystaj podejście oparte na faktach i wynikach. Omów, jakie cele można osiągnąć oraz ustal odpowiednie
            terminy ich realizacji.
        </p>
        <p style="color: rgb(255, 0, 0)">
            Nie…
            W czasie konfliktu unikaj osobistych ataków i nie angażuj się w dyskusje niezwiązane z tematem. Stawiaj na
            klarowność i unikaj niejasności, jeśli to możliwe.
        </p>
        <h4 style="color:rgb(60, 179, 113)">
            Optymalne środowisko pracy
        </h4>
        <p>
            Mobilizatorzy doskonale sprawdzają się w dynamicznym, szybkim zespole, gdzie centralne przywództwo jest
            kluczowe, a zespół ponosi bezpośrednią odpowiedzialność za osiągane wyniki.
        </p>
    </div>
</app-ui-page>